<app-header-inicio></app-header-inicio>
        <!-- Main -->
            <section class="wrapper style1">
                <div class="container">
                    <div id="content">

                        <!-- Content -->

                            <article>
                                <header>
                                    <h2>Cooperativa de Servicios Múltiples San Jorge</h2>
                                    <p>62 años reviviendo momentos</p>
                                </header>

                                <span class="image featured"><img src="https://blobtesis.blob.core.windows.net/tesis/370542014_792355182894524_6827110587613643889_n.jpg" alt="" /></span>

                                <p>"¡Celebrando 62 años de unión y prosperidad! 🎉🎂 En esta emotiva fiesta conmemoramos seis décadas y dos años de logros,
                                compromiso y colaboración en la Cooperativa San Jorge. Entre risas, abrazos y momentos llenos de alegría, recordamos con
                                gratitud el camino recorrido y miramos hacia un futuro aún más prometedor. La familia de la Cooperativa se reúne para
                                honrar nuestra historia, nuestros valores y el vínculo que nos une. ¡Sigamos construyendo juntos un legado de
                                solidaridad y éxito compartido! ✨🥳 #Aniversario #CooperativaSanJorge #62Años"
                                </p>

                                <h3>Bienvenidos a la Cooperativa "San Jorge"</h3>
                                <p>La Cooperativa de Servicios Múltiples de los Trabajadores del Instituto Peruano de Seguridad Social "San Jorge" Ltda., se constituyó el 19 de julio de 1961.</p>

                                <p>En la Cooperativa San Jorge, nuestra misión es simple pero poderosa: construir un tejido social sólido a través de la
                                colaboración y el compromiso. Nos dedicamos a fomentar la solidaridad, la equidad y el progreso sostenible en nuestra
                                comunidad. Desde nuestros inicios, hemos sido un faro de apoyo mutuo y crecimiento colectivo. Únete a nosotros en este
                                viaje hacia un futuro donde cada uno de nosotros prospera en conjunto.</p>
                            </article>

                    </div>
                </div>
            </section>
            <app-footer-inicio></app-footer-inicio>