<!-- Footer -->
<div id="footer">
    <!-- Icons -->
        <ul class="icons">
            <!-- <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li> -->
            <li><a href="https://www.facebook.com/coopsanjorge" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <!-- <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands fa-google-plus-g"><span class="label">Google+</span></a></li> -->
        </ul>

    <!-- Copyright -->
        <div class="copyright">
            <ul class="menu">
                <li>&copy; Cooperativa San Jorge. Todos los derechos reservados</li><li>Diseño: <a>Oscar Castillo</a></li>
            </ul>
        </div>