<app-header-inicio></app-header-inicio>
<div class="row justify-content-center">
    <section class="col-6 col-12-narrower" style="padding-top: 40px; padding-bottom: 20px;">
        <h3>Pongase en contacto con nosotros</h3>
        <form>
            <div class="row gtr-50">
                <div class="col-6 col-12-mobilep">
                    <input type="text" name="name" id="name" placeholder="Nombres" />
                </div>
                <div class="col-6 col-12-mobilep">
                    <input type="email" name="email" id="email" placeholder="Correo Electrónico"/>
                </div>
                <div class="col-12">
                    <textarea name="message" id="message" placeholder="Mensaje" rows="5"></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" class="button alt" value="Enviar" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
</div>
<app-footer-inicio></app-footer-inicio>